@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
}

button {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}
